{% extends "layout.html" %}

{% block title %}
    Tweets List
{% endblock %}

{% block content %}
    <h1 class="text-center text-white mb-4">Tweets</h1>
   

    {% if tweets %}
    <div class="container row mt-5 ">

        {% comment %} for loop {% endcomment %}
        {% for tweet in tweets %}
        
        <div class="col-md-4 mb-4" style="width: 20rem;">
            <div class='h-20 rounded' style="width: 18rem; height:20rem;">
                {% if tweet.photo %}
                    <img src="{{ tweet.photo.url }}" class="card-img-top " style='height:100%; width:100%; object-fit:cover;' alt="...">
                {% else %}
                    <img src='/path/to/defaut-image.jpg'  class="card-img-top object-cover overflow-hidden h-20" alt="No image available">
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ tweet.user.username }}</h5>
                <p class="card-text text-muted">{{ tweet.text }}</p>
                {% if tweet.user == user %}
                <div class="d-flex justify-content-center">
                    <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary btn-sm mx-2">Edit</a>
                    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger btn-sm mx-2">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No tweets found matching your search criteria.</p>
    {% endif %}

    <div class="text-center mt-4">
        <a href="{% url 'tweet_create' %}" class="btn btn-success btn-lg">Create a tweet</a>
    </div>
{% endblock %}
